body{
    height: 300vh;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(164, 5, 37, 1) 65%, rgba(179, 5, 29, 1) 68%, rgba(0, 212, 255, 1) 100%);
}
nav{
    background-color: aqua;
    border: 1px solid black;
    border-radius:5px;
    height: 40px;
    width: 90%;
    position: fixed;
}